/*CSS concernant l'application entière */

.game{
  margin-top: 40%;
}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

#container>div{
  background-color: aliceblue;
}

@font-face {
  font-family: "Jack";
  src: url("../../fonts/JACKSEEL.ttf") format("TrueType");
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5%;
}

.close {
  padding-top: 10%;
  color: grey;
  float: right;
  font-size: 40px;
  font-family: Jack;
  font-weight: bold;
}

.paraph {
  padding-top: 20%;
}

.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.contenu{

  font-size: 30px;
  margin: 50px auto;
  background-color: aliceblue;
  margin: auto;
  padding-top: 5%;
  border: 5px solid black;
  width: 80%;
  font-family: Jack;
  height: 70%;

}

.divPrincipale{
  width: 100%;
  height: 100%;
  position: absolute;
}

#boutonRejouer{
  float: right;
  height: 100px;
  width: 200px;
  border: none;
  margin-right: 2%;
  MARGIN-TOP: 43%;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 58%)
}

#lienRejouer{
  text-decoration: none;
  font-family: Jack;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

/* CSS concernant la page de jeu global */

#game{
  background-image: url("../../images/drapeaux.jpg");
  display: none;
  background-size: contain;
}

#divNiveau{
  left: 5%;
}

#divClic{
  right: 5%;
}

/* CSS concernant la page Accueil global */

#divAccueil{
  background-image: url("../../images/drapeaux.jpg");
  display: block;
  background-size: contain;
}

#boutonCommencer:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

/* CSS téléphone */

@media screen and (max-width: 500px) {

  /* CSS concernant la page Accueil */

  #divExplication{
    text-align: center;
    background-color: white;
    width: 90%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 2%;
    border: 5px solid black;
  }

  #boutonRejouer{
    float: right;
    height: 50PX;
    width: 100px;
    border: none;
    margin-right: 2%;
    MARGIN-TOP: 10%;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 58%);
  }

  #titreRegle{
    font-family: Jack;
    font-size: 20px;
    padding-top: 5%;
  }

  .regle{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
  }

  ul{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 15px;
    padding-left: 10%;
    padding-right: 2%;
    font-weight: bold;
  }

  #boutonCommencer{
    background: linear-gradient(green, blue);
    height: 75px;
    width: 150px;
    border-style: none;
    text-align: center;
    justify-content: center;
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }

  #lienCommencer{
    text-decoration: none;
    font-family: Jack;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  #footerRegle{
    font-family: Jack;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* CSS concernant la page du jeu */

  #head{
    background-color: white;
    width: 90%;
    height: 20%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 2%;
    border: 5px solid black;
  }

  #paysScore{
    background-color: white;
    width: 90%;
    height: 10%;
    border-radius: 5%;
    position: relative;
    top: 5%; left: 2%;
    border: 5px solid black;
  }

  #pays{
    font-size: 15px;
    font-family: Jack;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 30%;
  }

  #divTimer{
    position: absolute;
    right: 5%;
    top: 10%;
  }

  .timer{
    font-size: 12px;
    font-family: Jack;
    font-weight: bold;
    text-align: right;
  }

  #container{
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    margin: 14% auto;
    width: 90% ;
    height: 164px;

  }

  .box{
    position: absolute;
    top: 20%;
    text-align: center;
  }

  #divScore{
    left: 42%;
  }

  .niveau{
    font-size: 20px;
    font-family: Jack;
    font-weight: bold;
  }

  .score{
    font-size: 20px;
    font-family: Jack;
    font-weight: bold;
  }

  .clic{
    font-size: 20px;
    font-family: Jack;
    font-weight: bold;
  }

  .card{
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    width: 100% ;
    height: 20%;
    padding: 20% 0;
  }

  #footer{
    width: 100%;
    height: 10%;
    position: relative;
    margin-top: 25%;
  }

  .boutonAJ {
    width: 150px;
    height: 75px;
    position: absolute;
    top: 4%;
    transform: translateY(-5px);
    cursor: pointer;
  }

  #boutonJoker {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    left: 2%;
    background: linear-gradient(red, yellow);
  }

  #boutonAbandonner {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    right: 2%;
    background: linear-gradient(grey, white);
  }

  .lienAJ {
    text-decoration: none;
    font-family: Jack;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  #lienAbandonner {
    color: black;
  }

  .triangle{
    width: 78%;
    clip-path: polygon(0px 0px, 0% 100%, 48% 52%);
    position: absolute;
    padding: 0;
  }

  .partTop{
    width: 78%;
    clip-path: polygon(0 0, 100% 0, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;

  }

  .partDown{
    width: 78%;
    clip-path: polygon(0px 100%, 100% 100%, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;
  }
}

/* CSS tablette */

@media screen and (min-width: 500px) and (max-width: 800px) {

  /* CSS concernant la page Accueil */

  #divExplication{
    text-align: center;
    background-color: white;
    width: 90%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 3%;
    border: 5px solid black;
  }

  #titreRegle{
    font-family: Jack;
    font-size: 30px;
    padding-top: 5%;
  }

  .regle{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
  }

  ul{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 2%;
    font-weight: bold;
  }

  #boutonCommencer{
    background: linear-gradient(green, blue);
    height: 150px;
    width: 300px;
    border-style: none;
    text-align: center;
    justify-content: center;
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }

  #lienCommencer{
    text-decoration: none;
    font-family: Jack;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  #footerRegle{
    font-family: Jack;
    font-size: 30px;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* CSS concernant la page du jeu */

  #head{
    background-color: white;
    width: 90%;
    height: 20%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 3%;
    border: 5px solid black;
  }

  .box{
    position: absolute;
    top: 10%;
    text-align: center;
  }

  #divTimer{
    left: 36%;
  }

  .niveau{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  .timer{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  .clic{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  #container{
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    margin: 10% auto;
    width: 80% ;
    height: 300px;

  }

  #paysScore{
    background-color: white;
    width: 90%;
    height: 10%;
    border-radius: 5%;
    position: relative;
    top: 5%; left: 3%;
    border: 5px solid black;
  }

  #pays{
    font-size: 15px;
    font-family: Jack;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 30%;
  }

  #divTimer{
    position: absolute;
    right: 5%;
    top: 10%;
  }

  .timer{
    font-size: 15px;
    font-family: Jack;
    font-weight: bold;
    text-align: right;
  }

  .card{
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    width: 100% ;
    height: 20%;
    padding: 20% 0;
  }

  #footer{
    width: 90%;
    height: 10%;
    position: relative;
    left: 2%;
  }

  .boutonAJ {
    width: 150px;
    height: 75px;
    position: absolute;
    top: 4%;
    transform: translateY(-5px);
    cursor: pointer;
  }

  #boutonJoker {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    left: 10%;
    background: linear-gradient(red, yellow);
  }

  #boutonAbandonner {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    right: 10%;
    background: linear-gradient(grey, white);
  }

  .lienAJ {
    text-decoration: none;
    font-family: Jack;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  #lienAbandonner {
    color: black;
  }

  #divScore{
    left: 42%;
  }

  .score{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }
  .triangle{
    width: 78%;
    clip-path: polygon(0px 0px, 0% 100%, 48% 52%);
    position: absolute;
    padding: 0;
  }

  .partTop{
    width: 78%;
    clip-path: polygon(0 0, 100% 0, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;

  }

  .partDown{
    width: 78%;
    clip-path: polygon(0px 100%, 100% 100%, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;
  }
}


/* CSS ordinateur */

@media screen and (min-width: 800px) {

  /* CSS concernant la page Accueil */

  #divExplication{
    text-align: center;
    background-color: white;
    width: 90%;
    height: 96%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 5%;
    border: 5px solid black;
  }

  #titreRegle{
    font-family: Jack;
    font-size: 40px;
    padding-top: 1%;
  }

  .regle{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
  }

  ul{
    font-style: none;
    font-family: Jack;
    color: black;
    text-align: justify;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 2%;
    font-weight: bold;
  }

  #boutonCommencer{
    background: linear-gradient(green, blue);
    height: 200px;
    width: 400px;
    border-style: none;
    text-align: center;
    justify-content: center;
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }

  #lienCommencer{
    text-decoration: none;
    font-family: Jack;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  #footerRegle{
    font-family: Jack;
    font-size: 40px;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* CSS concernant la page du jeu */

  #head{
    background-color: white;
    width: 90%;
    height: 15%;
    border-radius: 5%;
    position: relative;
    top: 2%; left: 5%;
    border: 5px solid black;
  }

  .box{
    position: absolute;
    top: 1%;
    text-align: center;
  }

  .niveau{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  .timer{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  .clic{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }

  #container{
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    width: 42% ;
    height: 130%;
    position: absolute;
    left: 10%;

 
  }

  #paysScore{
    background-color: white;
    width: 90%;
    height: 10%;
    border-radius: 5%;
    position: relative;
    top: 5%; left: 5%;
    border: 5px solid black;
  }

  #pays{
    font-size: 20px;
    font-family: Jack;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 20%;
  }

  #divTimer{
    position: absolute;
    right: 5%;
    top: 2%;
  }

  .timer{
    font-size: 20px;
    font-family: Jack;
    font-weight: bold;
    text-align: right;
  }

  .card{
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    width: 100% ;
    height: 20%;
    padding: 20% 0;
  }

  #footer{
    width: 90%;
    height: 10%;
    position: relative;
    top: 30%; right: 5%;
  }

  .boutonAJ {
    width: 150px;
    height: 75px;
    position: absolute;
    top: 4%;
    transform: translateY(-5px);
    cursor: pointer;
  }

  #boutonJoker {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    left: 75%;
    background: linear-gradient(red, yellow);
    width: 300px;
    height: 150px;
  }

  #boutonAbandonner {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    left: 95%;
    background: linear-gradient(grey, white);
    width: 300px;
    height: 150px;
  }

  .lienAJ {
    text-decoration: none;
    font-family: Jack;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  #lienAbandonner {
    color: black;
  }

  #divScore{
    left: 45%;
  }

  .score{
    font-size: 30px;
    font-family: Jack;
    font-weight: bold;
  }
  .triangle{
    width: 78%;
    clip-path: polygon(0px 0px, 0% 100%, 48% 52%);
    position: absolute;
    padding: 0;
  }

  .partTop{
    width: 78%;
    clip-path: polygon(0 0, 100% 0, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;

  }

  .partDown{
    width: 78%;
    clip-path: polygon(0px 100%, 100% 100%, 100% 52%, 48% 52%);
    position: absolute;
    padding: 0;
  }
}
